################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/halvoeHandheld
/__vm
/DisplayHandler.h
